.App {
  text-align: center;
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.paragraph-container {
  padding: 0.5rem;
}

.details {
  background-color: aliceblue;
}

.lyrics, .original-lyrics, .jp-translation {
  white-space: break-spaces;
}

.lyrics {
  font-size: 1.2rem;
}

.original-lyrics {
  color: rgb(112, 112, 112);
}

@media screen and (min-width: 1200px) {
  .App {
    display: flex;
    justify-content: center;
  }
  .lyrics-page {
    width: 80%;
  }
  .sheet-music {
    width: 100%;
  }
}

/* @media screen and (max-width: 600px) {
  .sheet-music {

  }
} */